{% extends 'base.html' %}


{% block links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
{% endblock %}
{%  block title %}Cadastrar Funcionario{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Cadastro</h3>
            <form method="post"  enctype="multipart/form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success" type="submit">Cadastrar</button>
                <a class="btn btn-danger" href="{% url 'login' %}">Voltar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}