{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}


{% block header %}

{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <a href="{% url 'create_departament' %}">Criar Setor</a>
    </div>
</div>

<h5>Departamentos {{ user.collaborator.company }}</h5>
<select name="departaments" id="departaments" onchange="filtrarFuncionario()">
    <option select="selected" >selecione o departamento</option>
    {%  for c in departament_list %}
        <option value="{{ c.id }}" >{{ c.name_of_departament }}</option>
    {% endfor %}
</select>
<select name="funcionarios" id="funcionarios"> 
</select>
<p id="mensagem" ></p>

{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/ajax-functions.js' %}" ></script>
{% endblock %}