{% extends 'base.html' %}


{% block title %} Painel Collaborator{% endblock %}


{% block header %}
    {% include 'navbar.html' %}
{% endblock %}
{% block main  %}
<div class="container">
    <div class="row">
        <div class="col-lg"><br>
            {% if user.is_staff %}<br>
            <a  href="{% url 'painel_collaborator'  %}" class="waves-effect waves-light btn"><i class="material-icons left">cached</i>Gestão de Funcionarios</a><br>
            {% endif %}<br>
            <a  href="{% url 'edit_collaborator' user.collaborator.id %}" class="waves-effect waves-light btn"><i class="material-icons left">cached</i>Editar Dados</a>
        </div>
        <div class="col-lg">
            {{ collaborator }}<br>
            {{ collaborator.documents }}<br>
            <a  href="{% url 'create_document' %}" class="waves-effect waves-light btn"><i class="material-icons left">cached</i>Adicionar Documentos</a><br>
            <br>
            <a  href="{% url 'list_documents'  %}" class="waves-effect waves-light btn"><i class="material-icons left">cached</i>Meus Documentos</a>
           
        </div>
    </div>
</div>


{% endblock %}