{% extends 'base.html' %}
{% load static %}

{% block title %} Painel Collaborator{% endblock %}

{% block header %}
    {% include 'navbar.html' %}
{% endblock %}
{% block main  %}
<div class="container">
    <div class="row">
        <h4>Bem Vindo {{ collaborator.user }}</h4> <br>
        <div class="col-lg"><br>
            <p>Configurações usuario</p>
            {% if user.is_staff %}<br>
            <a  href="{% url 'painel_collaborator'  %}" class="waves-effect waves-light btn"><i class="material-icons left">cached</i>Gestão de Funcionarios</a><br>
            {% endif %}<br>
            <a  href="{% url 'edit_collaborator' user.collaborator.id %}" class="waves-effect waves-light btn"><i class="material-icons left">cached</i>Editar Dados</a><br>
            <br>
            <a  href="{% url 'list_documents'  %}" class="waves-effect waves-light btn"><i class="material-icons left">cached</i>Meus Documentos</a>
        </div>
        <div class="col-lg"><br>
            <h5>Registros de Hora Extra</h5> <br>
            <h7>Total de Horas : {{ user.collaborator.total_horas }} HORAS</h7>
            <table>
                <thead>
                  <tr>
                      <th>Data</th>
                      <th>Motivo</th>
                      <th>Horas</th>
                  </tr>
                </thead>
                <tbody>
            {% for hour in  user.collaborator.registerextrahour_set.all %}
                  <tr>
                    <td>{{ hour.date }}</td>
                    <td>{{ hour.reason }}</td>
                    <td>{{ hour.hours }} Horas</td>
                  </tr> 
               
            {% empty %}
                <p>Sem Horas Extras registradas</p>
            {% endfor %}
            </tbody>
            </table>
            <!-- <button onclick="RefreshDetailFuncionario({{ user.collaborator.id }})" type="button">Atualizar Horas</button> -->
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/ajax-functions.js' %}" ></script> 
{% endblock %}