{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block header %}
{% include 'navbar.html'%}
{% endblock %}

{% block main %}
<br>
    <a href="{% url 'home_page' %}"  class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>voltar ao menu</a>
<br>
<div class="container-fluid pb-3">
    <br>
    <div class="row">
        <h5>Deseja deletar ?</h5>
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Deletar</button>
        </form>
    </div>
</div>
{% endblock %}