{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block header %}

{% endblock %}

{% block main %}
<br>
    <a href="{% url 'home_page' %}"  class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>voltar ao menu</a>
<br>
<br>
<div class="row">
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
        
            {{ form.collaborator}}
            {{ form.reason}}
            {{ form.hours }}
            <button type="submit">Enviar</button>
        </form>
</div>
{% endblock %}