{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Editar Hora Extra | CBS {% endblock %}

{% block header %}
   
{% endblock %}

{% block main %}
<br>
    <a href="{% url 'home_page' %}"  class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>voltar ao menu</a>
<br>
<br>
<div class="container">
    <div class="row">
        <form method="POST" class="form-control"  enctype="multipart/form-data" >
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>

            {% if object %}
                <button type="submit" class="btn btn-primary">Alterar</button>
                <button type="button" class="btn btn-danger"
                onclick="utilizouHoraExtra({{ object.id }})">Não Utilizar</button>
                <button type="button" class="btn btn-success"
                onclick="DisponibilizarHoraExtra({{ object.id }})">Utilizar</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Adicionar</button>
            {% endif %}
            
       
        </form> 
     
        <p id="total">{{ object.collaborator.total_horas }}</p>
     
    </div>
</div>


{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/ajax-functions.js' %}" ></script>
{% endblock %}