{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Editar Hora Extra | CBS {% endblock %}

{% block header %}
{% include 'navbar.html' %}
{% endblock %}

{% block main %}
<br>
<div class="container">
    <div class="row">
        <form method="POST" class="form-control"  enctype="multipart/form-data" >
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>

            {% if object %}
                <button type="submit" class="btn btn-primary">Alterar</button>
                <button type="button" class="btn btn-danger"
                onclick="utilizouHoraExtra({{ object.id }})">Utilizar Horas</button>
                <button type="button" class="btn btn-success"
                onclick="DisponibilizarHoraExtra({{ object.id }})">Disponibilizar</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Adicionar</button>
            {% endif %}
            
       
        </form> 
    </div>
</div>


{% endblock %}
{% block scripts %}

<script src="{% static 'js/ajax-functions.js' %}" ></script>
{% endblock %}