{% extends "base.html"%}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{%  static 'css/materialize.css' %}">
{% endblock %}

{% block header %}
<nav>
  <div class="nav-wrapper purple">
    <a href="{% url 'home_page' %}" class="brand-logo"><i class="material-icons">cloud</i>CBS Admin-system</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html"><i class="material-icons">search</i></a></li>
      <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
      <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
      <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block scripts %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock %}