{% extends "base.html"%}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{%  static 'css/materialize.css' %}">
<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href="https://getbootstrap.com/docs/5.0/examples/headers/headers.css" rel="stylesheet">
{% endblock %}

{% block header %}
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="logo" alt="logo" style=" max-height: 90px;" src="{% static 'cerberus_logo.png'  %}">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'redirect' %}" class="nav-link px-2 text-secondary">Home</a></li>
          {% if user.collaborator %}
          <li><a href="{% url 'collaborator_page' user.collaborator.id  %}" class="nav-link px-2 text-white">Sistema</a></li>
          {% endif %}
        </ul>
        <div class="text-end">
          {% if user.is_authenticated %}
            <a  href="{% url 'logout' %}" class="waves-effect deep-orange darken-3 btn">Sair</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}