{% extends "base.html" %}

{% load static %}



{% block links %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block main %}

<div class="row">
    <div class="col-lg">
        <h4>Empresas </h4> 
        {% if user.collaborator.company %}
            <a class="btn btn-primary"href="{% url 'list_company' %}">Editar Empresas</a>
        {% else %} 
            
            <a class="btn btn-primary"href="{% url 'logout' %}">Adicionar Empresa</a>
        {% endif %}
    </div>
    <div class="col-lg">
        Meio
        
    </div>
    <div class="col-lg">
        
        {{ user.collaborator }} 
        {% if user.is_authenticated %}
            <a  class="btn btn-danger"href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a  class="btn btn-success"href="{% url 'login' %}">Login</a>
        {% endif %}

        

    </div>
</div>
{% endblock %}