{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block header %}
  {% include 'sidebar.html' %}
{% endblock %}

{% block main %}
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin"> 
            <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Olá {{ user.collaborator.first_name }}</h3>
                <h6 class="font-weight-normal mb-0"> Todos os modulos estão em total funcionamento.</h6>
              </div>
              <div class="col-12 col-xl-4">
               <div class="justify-content-end d-flex">
                <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        {% if not user.collaborator.id %}
          <div class="alert alert-warning" role="alert">
            Não detecamos seu cadastro no modulo de funcionarios
          </div>
        {% endif %}
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                  <div class="card-body">
                    <p class="mb-4">Empresa</p>
                    <p class="fs-30 mb-2">{{ user.collaborator.company.name }}</p>
                    <p class="fs-30 mb-2">{{ user.collaborator.company.cnpj}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                  <div class="card-body">
                    <p class="mb-4">Funcionarios Online</p>
                    <p class="fs-30 mb-2">12</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                  <div class="card-body">
                    <p class="mb-4">Tarefas Cumpridas</p>
                    <p class="fs-30 mb-2">20</p>
                    <p>Ultimos 30 dias</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                  <div class="card-body">
                    <p class="mb-4">Total de Funcionarios</p>
                    <p class="fs-30 mb-2">12</p>
                    <p>0.22% (30 days)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <p class="card-title">Notificações</p>
                <ul class="icon-data-list">
                  {% for notify in notifications %}
                    <li>
                      <div class="d-flex">
                        <img src="{{ notify.owner.profile_photo.url }}" alt="user">
                        <div>
                          {% if notify.owner.logged %}
                          <p class="text-info mb-1">{{ notify.owner.first_name }}  {{ notify.owner.last_name }} <strong class="online" >ONLINE</strong></p>
                          {% else %}
                          <p class="text-info mb-1">{{ notify.owner.first_name }}  {{ notify.owner.last_name }}</p>
                          {% endif %}
                          <p class="mb-0">{{ notify.titulo }}</p>
                          <small>{{notify.date}}</small>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Cerberus System <a href="https://www.cerberussistem.com.br" target="_blank">HomeWork System</a> layout from BootstrapDash. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Versão 0.5 estable <i class="ti-heart text-danger ml-1"></i></span>
        </div>
      </footer>
    </div>
  </div>
</div>
{% endblock %}

