{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block header %}
{% include 'navbar.html'%}
{% endblock %}

{% block main %}
<div class="container-fluid pb-3">
  <div class="row">
    <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
      <div class="bg-light border rounded-3">
        <h4>Configurações</h4> 
        {% if user.collaborator.company %}
            <a class="btn btn-primary"href="{% url 'list_company' %}"><i class="large material-icons">work</i> Empresa</a><br>
            <br>
            <a class="btn btn-primary"href="{% url 'home_departament' %}"><i class="large material-icons">web</i> Departamentos</a>
            <br><br>
            <a class="btn btn-primary"href="{% url 'collaobrator_page' user.collaborator.id %}"><i class="large material-icons">person</i> Funcionario</a>
            <br><br>
            <a class="btn btn-primary"href="{% url 'home_documents' %}"><i class="large material-icons">storage</i> Documentos</a>
            <br><br>
            <a class="btn btn-primary"href="{% url 'painel_hour' %}"><i class="large material-icons">access_time</i>  Horas</a>
        {% else %} 
            <a class="btn btn-primary"href="{% url 'create_company' %}">Adicionar Empresa</a>
        {% endif %}
      </div>
      <div class="bg-light border rounded-3">
        {{ user.collaborator }} 
        {% if user.is_authenticated %}
            <a  class="waves-effect pink accent-3 btn" href="{% url 'logout' %}"><i class="material-icons left">keyboard_tab</i>Sair</a>
        {% else %}
            <a  class="btn btn-success"href="{% url 'login' %}">Login</a>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}