{% extends "base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block header %}
  {% include 'sidebar.html' %}
{% endblock %}

{% block main %}
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin"> 
            <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Olá {{ user.collaborator.first_name }}</h3>
                <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-info">3 unread alerts!</span></h6>
              </div>
              <div class="col-12 col-xl-4">
               <div class="justify-content-end d-flex">
                <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                  <div class="card-body">
                    <p class="mb-4">Empresa</p>
                    <p class="fs-30 mb-2">{{ user.collaborator.company.name }}</p>
                    <p class="fs-30 mb-2">{{ user.collaborator.company.cnpj}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                  <div class="card-body">
                    <p class="mb-4">Total Bookings</p>
                    <p class="fs-30 mb-2">61344</p>
                    <p>22.00% (30 days)</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                  <div class="card-body">
                    <p class="mb-4">Number of Meetings</p>
                    <p class="fs-30 mb-2">34040</p>
                    <p>2.00% (30 days)</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                  <div class="card-body">
                    <p class="mb-4">Total de Funcionarios</p>
                    <p class="fs-30 mb-2">47033</p>
                    <p>0.22% (30 days)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <p class="card-title">Notificações</p>
                <ul class="icon-data-list">
                  <li>
                    <div class="d-flex">
                      <img src="../../images/faces/face1.jpg" alt="user">
                      <div>
                        <p class="text-info mb-1">Isabella Becker</p>
                        <p class="mb-0">Sales dashboard have been created</p>
                        <small>9:30 am</small>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex">
                      <img src="../../images/faces/face2.jpg" alt="user">
                      <div>
                        <p class="text-info mb-1">Adam Warren</p>
                        <p class="mb-0">You have done a great job #TW111</p>
                        <small>10:30 am</small>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex">
                    <img src="../../images/faces/face3.jpg" alt="user">
                   <div>
                    <p class="text-info mb-1">Leonard Thornton</p>
                    <p class="mb-0">Sales dashboard have been created</p>
                    <small>11:30 am</small>
                   </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex">
                      <img src="../../images/faces/face4.jpg" alt="user">
                      <div>
                        <p class="text-info mb-1">George Morrison</p>
                        <p class="mb-0">Sales dashboard have been created</p>
                        <small>8:50 am</small>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex">
                      <img src="../../images/faces/face5.jpg" alt="user">
                      <div>
                      <p class="text-info mb-1">Ryan Cortez</p>
                      <p class="mb-0">Herbs are fun and easy to grow.</p>
                      <small>9:00 am</small>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
        </div>
      </footer>
    </div>
  </div>
</div>
{% endblock %}

